@import '@/styles/main.scss';

@mixin option_card() {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    > *:last-child {
        margin-left: auto;
    }

    .text {
        font-size: 1.2rem;
    }
}

.option_card_light {
    @include option_card;

    background-color: #fff;

    .text {
        color: black;
    }
}

.option_card_dark {
    @include option_card;

    background-color: $lightBlack;

    .text {
        color: $darkWhite;
    }
}
