@import '@/styles/main.scss';

.wrapper {
    height: calc(100% - 17rem);
    padding-bottom: 1rem;
}

.container {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    > *:last-child {
        margin-top: auto;
    }
}
