.base_button {
    border: 2px solid #fff;
    padding: .5rem;
    border-radius: .5rem;
    background: none;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    text-align: center;
    font-weight: 200; 

    &:hover {
        cursor: pointer;    
    }
}