@import '@/styles/main.scss';

.container {
    padding: 0 2rem 0rem 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin: 0 auto;

    @include tablet {
        grid-template-columns: 1fr;
    }

    @include smartphone {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}
