// Common colors:
$black: #1c1c1c;

// Light theme colors:

$darkWhite: #f4f5f7;
$violet: #7b48e7;
$lightViolet: #bda3f2;
$gray: #525252;
$lightGray: #999999;
$orange: #ff6d40;
$pink: #e2b0d7;

// Dark theme colors:

$darkBlack: #181818;
$lightBlack: #1f1f1f;
